* {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-image: url("./bgImage.jpg");

  height: 100vh;
}
.App > h1 {
  padding: 1em;
}
.meaning {
  margin: 1.2em;
  font-size: 1.5rem;
}
